<h1>Beer Information</h1>

<h3>Name: <%= @beer.name %></h3>
<h3>Style: <%= @beer.style %></h3>
<h3>Hop: <%= @beer.hop %></h3>
<h3>Yeast: <%= @beer.yeast %></h3>
<h3>Matls: <%= @beer.malts %></h3>
<h3>IBU: <%= @beer.ibu %></h3>
<h3>Alcohol:<%= @beer.alcohol %></h3>
<h3>BLG: <%= @beer.blg %></h3>


